/* font-family: 'Staatliches', cursive; */

footer {
    background-color: lightpink;
    font-size: large;
    text-decoration: underline;
    color: blueviolet;
    margin-top: 70px;
}

h1 {
    font-family: 'Staatliches', cursive;
    text-decoration: underline overline;
    margin-top: 50px;
}

.hero {
    background: url(../img/header.jpg) no-repeat;
    background-size: cover;
    height: 0.5;
    min-height: 400px;
    color: beige
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    color: darkgoldenrod;
    margin-top: 100px;
}

.lista-novedades {
    margin: 0;
    padding: 0;
    list-style: none;
}

.lista-novedades li {
    margin: 4px 0;
}

.lista-novedades li a {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
    color: #a0a0a0;
    transform: all .2s ease-in-out;
    display: block;
}

.lista-novedades li a:hover {
    color: #212529;
    background-color: #dadada;
}

.lista-novedades li a img {
    width: 120px;
    height: 50px;
    filter: grayscale();
    transition: all .2s ease-in-out;
    margin-right: 1rem;
    opacity: 0.7;
}

.lista-novedades li a:hover img {
    filter: none;
    margin-right: 1.4rem;
    opacity: 1;
}

#logo {
    color: goldenrod;
    font-size: xx-large;
    margin-left: 10px;
    font-family: 'Staatliches', cursive;
}

.carousel-control-next-icon {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e);
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: goldenrod;
}


